body {
    background-color: black;
}
h2 {
    color: white;
    font-family: Sitka Subheading
}
h1 {
    color: white;
    font-family: Sitka Subheading
}

tbody tr:hover {
    background-color: red;
    color: yellow;
}

#footer {
    color: white;
    font-family: Sitka Subheading
}

.form {
    color: white;
    font-family: Sitka Subheading
}
.attore {
    color: firebrick;
    font-family: Sitka Subheading
}
#home {
    padding: 5px 10px;
    color: #FFFF00;
    text-decoration: none;
    border-radius: 5px;
    border: 5px solid;
    background: black;
}
.trama {
    color: white;
}
